<nav class="navbar navbar-default navbar-fixed-bottom text-center">
  <a class="navbar-brand col-xs-3" ui-sref="shop">
       <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
  </a>
  <a class="navbar-brand col-xs-3" ui-sref="search">

       <span class="glyphicon glyphicon-search" aria-hidden="true"></span>

  </a>
  <a class="navbar-brand col-xs-3" ui-sref="cart">

       <span class="glyphicon glyphicon-shopping-cart" id="shoppingCart" aria-hidden="true">  
         <em  id="shoppingCartSize"></em>
       </span>

  </a>
  <a class="navbar-brand col-xs-3" ui-sref="profile">
      <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
  </a>
</nav>