<div class="row border">
	<div class="col-xs-4">
		<img src="{{user.avatar}}" class="img-thumbnail img-circle">
	</div>
	<div class="col-xs-8">
		<div class="row">
			<div class="container">
				<h4>{{user.nickname}}</h4>
			</div>
			<div class="container">
				<strong class="text-info">手机号：{{user.phone}}</strong>
			</div>
		</div>
	</div>
</div>
<div class="row divider"></div>
<div class="row border">

	<div class="col-xs-3 separator" ui-sref="myorder({status:'waiting'})">
		<div class="row text-center">
			<!-- <h4>0</h4> -->
		</div>
		<div class="row text-center">
			待付款
		</div>
	</div>

	<div class="col-xs-3 separator" ui-sref="myorder({status:'waiting'})">
		<div class="row text-center">
			<!-- <h4>0</h4> -->
		</div>
		<div class="row text-center">
			待发货
		</div>
	</div>

	<div class="col-xs-3 separator" ui-sref="myorder({status:'waiting'})">
		<div class="row text-center">
			<!-- <h4>0</h4> -->
		</div>
		<div class="row text-center">
			已发货
		</div>
	</div>

	<div class="col-xs-3" ui-sref="myorder({status:'waiting'})">
		<div class="row text-center">
			<!-- <h4>0</h4> -->
		</div>
		<div class="row text-center">
			已完成
		</div>
	</div>

</div>


<div class="row border" ui-sref="myorder({status:'all'})">
	<div class="container">
		<span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
		<strong> &nbsp&nbsp全部订单</strong>
	</div>
</div>

<div class="row divider"></div>

<div class="row border">
	<div class="container">
		<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
		<strong> &nbsp&nbsp我的购物记录</strong>
	</div>
</div>


<div class="row border">
	<div class="container">
		<span class="glyphicon glyphicon-barcode" aria-hidden="true"></span>
		<strong> &nbsp&nbsp我的优惠券</strong>
	</div>
</div>
